/* Import Font */

@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;700&display=swap');

/* Reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Utility Classes */

:root {
    font-family: 'Roboto Mono', monosapce;

}

.center {
    margin-left: auto;
    margin-right: auto;
    max-width: 40rem;
}

.center-text {
    text-align: center;
}

.flex-row {
    display: flex;
    flex-direction: row;
    /* flex-wrap: wrap; */
}

.flex-col {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.gap-sm {
    gap: 0.5rem;
}

.stack-xs > * + * {
    margin-top: 0.5rem;
}

.stack-sm > * + * {
    margin-top: 1rem;
}

.stack-md > * + * {
    margin-top: 2rem;
}

.img-sm {
    max-width: 2.5rem;
    aspect-ratio: 1;
}

.img-md {
    max-width: 10rem;
}

/* Main CSS */

body {
    background-color: #fcd3b1;
}

main {
    margin-top: 2rem;
}

/* Pokemon Type styling */

.pokemon-type, {
    width: fit-content;
    max-width: 10rem;
    display: block;
    padding: 0.5rem;
    text-transform: uppercase;
}

.pokemon-type--fire {background-color: #f08030}
.pokemon-type--normal {background-color: #a8a878}
.pokemon-type--fighting {background-color: #c03028}
.pokemon-type--water {background-color: #6890f0}
.pokemon-type--flying {background-color: #a890f0}
.pokemon-type--grass {background-color: #78c850}
.pokemon-type--poison {background-color: #a040a0}
.pokemon-type--electric {background-color: #f8d030}
.pokemon-type--ground {background-color: #e0c068}
.pokemon-type--psychic {background-color: #f85888}
.pokemon-type--rock {background-color: #b89f38}
.pokemon-type--ice {background-color: #98d8d8}
.pokemon-type--bug {background-color: #a8b820}
.pokemon-type--dragon {background-color: #7038f8}
.pokemon-type--ghost {background-color: #705898}
.pokemon-type--dark {background-color: #705848}
.pokemon-type--steel {background-color: #b8b8d0}
.pokemon-type--fairy {background-color: #ee99ac}